{% extends "anzeigen/base.html" %}
{% block content %}
    <h2 class="mb-5 mt-3">Über ShareSquare</h1>
    <p>
        Wer kennt das nicht: Man möchte schnell ein Regal anbringen oder ein Möbelstück neu 
        streichen, hat aber das richtige Werkzeug nicht zur Hand. Und alles neu für ein einziges 
        Projekt kaufen? Hmmm... 
    </p>
    <p>
        Da kommen wir ins Spiel: Auf ShareSquare findest du für jedes Projekt das passende
        Werkzeug und kannst dich auf das wesentliche konzentrieren: Das Selbermachen. Leihe dir ganz
        einfach Werkzeug bei Leuten in deiner Nähe, tritt ein gegen Verschwendung und lerne
        ganz nebenbei nette Leute kennen.
    </p>
    <p>
        Wir glauben an Selbermacher, Bastler und DIY-Künstler und wollen kreativen Köpfen mit unserer 
        Plattform helfen, ihre Projekte zu verwirklichen. Denn am Werkzeug sollte es nun wirklich
        nicht scheitern. 
    </p>
    <h3>So funktioniert's:</h3>
    <ol>
        <li>Klicke auf Registrieren und erstelle deinen persönlichen Account</li>
        <li>Finde interessante Anzeigen und tritt mit Mitgliedern in Kontakt oder erstelle deine eigene Anzeige</li>
        <li>Hab Spaß beim Teilen und empfehle uns gern weiter <3 </li>
    </ol>
{% endblock content %}